@charset "utf-8";
/* CSS Document */

body {
  font-family: "Georgia", serif;
}

body {
  color: black;
}

div.a {
  line-height: 140;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

body {
 background-image: url("paper.gif");
 background-color: #cccccc;
}

body {background-color: #F7F3DE;}
